<header id="header" class="flex expanded align-center contrast-text {{#is "home"}}header-home{{/is}}">
{{#if image}}
  <div class="parallax opaque invisible" style="background-image: url({{image}});"></div>
{{else if @blog.cover}}
  <div class="parallax opaque invisible" style="background-image: url({{@blog.cover}});"></div>
{{/if}}
  <div class="overlay"></div>

  <section class="row align-center project">
    <nav id="main-nav" class="small-6 medium-12 columns small-order-2 medium-order-1">
      <ul class="show-for-medium">
        {{navigation}}
      </ul>
      <a class="nav-toggle hide-for-medium" href="#"><span></span></a>
    </nav>
    {{#is "home"}}
      <div id="headline" class="small-6 medium-10 columns small-order-1 medium-order-2 flex">
        <div class="page-links">
          <h1 class="logo">Salt</h1>
          {{#if title}}
            <small class="show-for-medium">{{date format="DD MMMM YYYY"}}</small>
          {{/if}}
        </div><!--close page-links-->
        <div class="subheader-wrap">
          <p class="subheader show-for-medium">
            {{#if title}}
              {{title}}
            {{ else }}
              {{@blog.description}}
            {{/if}}
          </p>
        </div><!--close subheader-wrap -->
      </div><!-- close headline-->
      <div class="small-12 small-order-3 hide-for-medium">
        <p class="subheader">
          {{#if title}}
            {{title}}
          {{ else }}
            {{@blog.description}}
          {{/if}}
        </p>
      </div>
    {{else}}
      <div id="headline" class="small-6 medium-10 large-9 columns small-order-1 medium-order-2 flex">
        <div class="page-links post-logo" style="border: none!important;">
          <h1 class="logo post-logo">Salt</h1>
        </div>
        <div></div>
      </div>
    {{/is}}
  </section>

  {{#is "home"}}
    <div class="go-down">
      <a href="#main" class="go-down-icon"><span class="hidden">Scroll Down</span></a>
    </div>
  {{/is}}
</header>

{{>full-nav}}
