<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>SALT | {{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="robots" content="all">
    <meta name="zipcode" content="59901">
  {{#if image}}
    <link rel="image_src" href="{{ image }}">
    <meta property="og:image" content="{{ image }}" />
    <meta name="twitter:image" content="{{ image }}" />
  {{else if @blog.cover}}
    <link rel="image_src" href="{{ @blog.cover }}">
    <meta property="og:image" content="{{ @blog.cover }}" />
    <meta name="twitter:image" content="{{ @blog.cover }}" />
  {{/if}}

    <meta property="og:url" content="http://blog.saltagency.co/{{ url }}" />
    <meta property="og:title" content="SALT | {{meta_title}}" />
    <meta property="og:description" content="{{meta_description}}" />

    <!--  twitter card tags additive with the og: tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" value="http://saltagency.co" />
    <meta name="twitter:title" value="SALT | {{meta_title}}" />
    <meta name="twitter:description" value="{{meta_description}}" />
    <meta name="twitter:url" value="http://blog.saltagency.co/{{ url }}" />

    <link rel="icon" href="http://saltagency.co/images/fav/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://saltagency.co/images/fav/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://saltagency.co/images/fav/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://saltagency.co/images/fav/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://saltagency.co/images/fav/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://saltagency.co/images/fav/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://saltagency.co/images/fav/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://saltagency.co/images/fav/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://saltagency.co/images/fav/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="http://saltagency.co/images/fav/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="http://saltagency.co/images/fav/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="http://saltagency.co/images/fav/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="http://saltagency.co/images/fav/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="http://saltagency.co/images/fav/favicon-128.png" sizes="128x128" />

    <!-- <link rel="shortcut icon" href="{{asset "favicon.ico"}}"> -->

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "fonts/gotham/stylesheet.css"}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://use.typekit.net/voc1nwm.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="https://use.fontawesome.com/6931815dd0.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75737789-1', 'auto');
      ga('send', 'pageview');
    </script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} Blog">
  {{! Everything else gets inserted here }}
  {{{body}}}

  <footer id="footer">
    <section class="row align-center align-middle">
      <div class="columns branding shrink">
        <p class="vision">Make Waves</p>
        <h3>Salt</h3>
        <p class="vision">Defy Reason</p>
      </div>
    </section>
  </footer>
  {{>connect}}

  {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
  <script src="{{asset "js/jquery/dist/jquery.min.js"}}"></script>
  {{! Ghost outputs important scripts and data with this tag }}
  <script src="{{asset "js/foundation.min.js"}}" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
  <script src="{{asset "js/scrollmagic/uncompressed/ScrollMagic.js"}}"></script>
  <script src="{{asset "js/scrollmagic/uncompressed/plugins/animation.gsap.js"}}"></script>
  <script src="{{asset "js/scrollmagic/uncompressed/plugins/debug.addIndicators.js"}}"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.waitforimages/1.5.0/jquery.waitforimages.min.js" ></script>

  <script src="{{asset "/js/app.js"}}"></script>
  <script type="text/javascript">
    $(".BlogNav").addClass("active");
  </script>

  {{ghost_foot}}

  <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

</body>
</html>
