{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

{{>header}}

<main id="main" role="main">
  <article class="{{post_class}}">
      <section id="contentBody">
        <h6 class="post-date">
          <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time> {{tags prefix=" on "}}
        </h6>
        <h2>{{title}}</h2>
        {{content}}
      </section>
      <footer class="post-footer">
        <section class="share">
          <div class="row align-middle align-center">
            <div class="small-8 medium-4 columns">
              <div id="share-links" class="flex expanded columns text-center">
                <div>
                  <a class="link" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                      onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                      <i class="fa fa-twitter-square"></i>
                  </a>
                </div>
                <div>
                  <a class="link" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                      onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                      <i class="fa fa-facebook-square"></i>
                  </a>
                </div>
                <div>
                  <a class="link" href="https://plus.google.com/share?url={{url absolute="true"}}"
                     onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                      <i class="fa fa-google-plus-square"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <aside id="readNext" class="read-next">
            {{#next_post}}
            <a class="read-next-story para-parent small-pad-medium" href="{{url}}">
              {{#if image}}
                <div class="parallax opaque invisible" style="background-image: url({{image}});"></div>
              {{/if}}
              <section class="post more">
                <div class="row align-center">
                  <div class="small-11 medium-9 columns">
                    <h2>{{title}}</h2>
                    <p>{{excerpt words="19"}}&hellip;</p>
                  </div>
                </div>
              </section>
            </a>
            {{/next_post}}
            {{#prev_post}}
            <a class="read-next-story prev para-parent small-pad-medium" href="{{url}}">
              {{#if image}}
                <div class="parallax opaque invisible" style="background-image: url({{image}});"></div>
              {{/if}}
              <section class="post more">
                <div class="row align-center">
                  <div class="small-11 medium-9 columns">
                    <h2>{{title}}</h2>
                    <p>{{excerpt words="19"}}&hellip;</p>
                  </div>
                </div>
              </section>
            </a>
            {{/prev_post}}
        </aside>
        <!-- TALK -->
        <section id="fear" class="tertiary-bg contrast-text small-pad-medium talk">
          <div class="row align-center align-middle">
            <div class="small-11 medium-5 large-5 columns">
              <h2>We<br> Should<br> Talk</h2>
            </div>
            <div class="small-11 medium-6 large-6 columns">
              <h6>You had me at "hello"</h6>

              <p>Believe it or not, we love what we do, and we'd love to partner with you.
              Wether you can't figure out where to start or if you're ready to take your business to the next level,
              we're here to see it through. Just say "hello" and we'll set the sails.</p>

              <div class="row">
                <div class="columns small-6 medium-12 large-6">
                  <a href="mailto:hello@saltagency.co" class="link ">hello@saltagency.co</a>
                </div>
                <div class="columns small-6 medium-12 large-6">
                  <a class="tel link" href="tel:4803881741">480.388.1741</a>
                </div>
              </div>

            </div>
          </div>
        </section>
      </footer>
  </article>
</main>

{{/post}}
